input[type=text]{
border-style: ;
border-color: ;
border-width: ;
box-sizing: ;
text-align: center;


}



input[type=submit]{


border-style: ;
border-color: ;
border-width: ;
box-sizing: ;
text-align: center;



}



body{

	
background-color: ;



}

h1{

size: 36px;
color: ;
font-style: ;



}

h2{

size: 18px;
color: ;
font-style: ;



}